# Ignore
.idea/
alib-52/
gate/
reports/
src/__pycache__/
src/nsga2/__pycache__/
src/.ipynb_checkpoints/
venv/
EGFET_PDK/
datasets/files/
logs/*
results/comp_*/*
results/temp/

# Allow
!results/**/results*.txt
#!results/comp_19_12_2021__13_04/results_50ms.txt
#!results/comp_17_12_2021__15_41/results_0ms.txt
