# Ignore
.idea/
alib-52/
work/
work_gate/
sim/
gate/
reports/
src/.nfs*
src/__pycache__/
src/nsga2/__pycache__/
src/evaluation/__pycache__/
src/.ipynb_checkpoints/
venv/
EGFET_PDK/
datasets/files/
printedtrees.egg-info/
logs/*
results/comp_*/*
results/temp/
results/ga/*

# Allow
!results/**/results*.txt
#!results/comp_19_12_2021__13_04/results_50ms.txt
#!results/comp_17_12_2021__15_41/results_0ms.txt
